@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal: #2c72bc;
  --colorPrincipalClaro: #6a97c8;
  --colorPrincipalOscuro: #1d5487;
  --colorClaro: #f6f6f6;
  --colorRojo: #ef5b6f;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--colorClaro);
}

.headerPrincipal {
  background-color: var(--colorPrincipal);
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logoHeader {
  width: 5em;
}

.buscadorHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.buscadorHeader input {
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 20vw;
  min-width: 250px;
}

.buscadorHeader a{
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: var(--colorPrincipalOscuro);
  height: 40px;
  width: 50px;
  padding: 12px;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease-out;
}

.buscadorHeader a:hover {
  background-color: var(--colorPrincipalClaro);
}

.carritoHeader a{
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  background-color: var(--colorPrincipalOscuro);
  height: 40px;
  align-items: center;
  padding: 0 15px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.carritoHeader svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-out;
}

.carritoHeader p {
  font-size: 18px;
  font-weight: 700;
}

.carritoHeader a:hover {
  background-color: var(--colorPrincipalClaro);
}

.carritoHeader:hover svg {
  transform: rotate(-10deg);
}

.headerSecundario {
  background-color: var(--colorPrincipalClaro);
  padding: 20px;
}

.headerSecundario nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.headerSecundario nav a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.headerSecundario nav a:hover {
  color: var(--colorPrincipalOscuro);
}

.seccionProductos {
  padding: 60px 50px;
  /* background-color: red; */
}

.seccionProductos h2 {
  color: var(--colorPrincipalOscuro);
  margin-bottom: 1.5em;
  font-family: "Handjet", cursive;
}

.contenedorCardsProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.cardProductos {
    flex: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 25px;
  transition: all .3s ease-out;

  cursor:default;
  user-select: none;
}

.cardProductos:hover{
    box-shadow: 5px 5px 20px rgba(40, 44, 52,.1);
}

.cardProductos .imgCard img{
    transition: all .3s ease-out;
}



.cardProductos:hover .imgCard img{
    transform: rotate(25deg);
}

.textosCard {
  margin-top: 10px;
  margin-bottom: 20px;
}

.imgCard{
    overflow: hidden;
}

.imgCard img {
  width: 100%;
}

.precioTextosCard {
  margin-bottom: 10px;
}

.precioTextosCard h4 {
  color: var(--colorRojo);
  text-decoration: line-through;
}
.precioTextosCard h3 {
  color: var(--colorPrincipalOscuro);
  margin-left: 10px;
}

.detalleTextosCard h5 {
  font-weight: 300;
}

.detalleTextosCard h3 {
  font-weight: 700;
}

.btnCard {
  display: flex;
  flex-direction: column;
}

.btnCard a {
  border: 1px solid var(--colorPrincipalOscuro);
  border-radius: 30px;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  color: var(--colorPrincipal);
  transition: all 0.3s ease-out;
}

.btnCard a:hover {
  background-color: var(--colorPrincipal);
  color: #fff;
}
/* MOBILE */
@media screen and (max-width: 767px) {
  header{
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .headerSecundario{
    display: none;
  }
  main{
    padding-top: 7em;
  }
  .contenedorCardsProductos {
    flex-direction: column;
    align-items: center;
  }
  .headerSecundario nav {
    flex-direction: column;
    align-items: center;
  }
  .buscadorHeader input{
    display: none;
  }

  .buscadorHeader a{
    border-radius: 5px;
  }

  .seccionProductos h2 {
    font-size: 3em;
  }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedorCardsProductos{
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardProductos{
    flex: auto;
    max-width: 30%;
  }
}
